<%= render partial: 'profile_banner' %>


<div class="container">
  <div class="row">
    <h1 class="profile-text-banner">HELLO <%= current_user.name.upcase %>!</h1>
    <div class="col-md-6 col-md-offset-3">
      <% if !current_user.photo.present? %>
        <% flash[:alert] = "Please upload a profile photo so your Yalla-friends will recognize you :)" %>
        <%= render partial: 'photo_uploader' %>
      <% end %>


      <h4 class="border-details">Yalla! Here are your upcoming tours:</h4>
      <% current_user.tours.each do |t| %>
        <% if t.date > Time.now %>
          <p class="p-text-size">
          <%= link_to tour_path(t) do %>
            <%= t.date %> – <%= t.title %>, <%= t.location %> <i class="<%= Tour::CATEGORYS[t.category.to_sym] %> fa-1x"></i>
            <% end %>
          </p>
        <% end %>
      <% end %>

      <h4 class="border-details">Yalla! Here are all your hosted tours:</h4>
      <% Tour.all.each do |t| %>
        <% if t.user_id == current_user.id %>
          <p class="p-text-size">
          <%= link_to tour_path(t) do %>
            <%= t.date %> – <%= t.title %>, <%= t.location %> <i class="<%= Tour::CATEGORYS[t.category.to_sym] %> fa-1x"></i>
            <%= link_to tour_path(t), method: :delete, data: { confirm: "Are you sure?"}, class: "when-hover" do %>
              <i class="fas fa-trash-alt fa-1x"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if @review_tour %>
        <h5>
          Psst! Did you enjoy <%= link_to @review_tour.title, tour_path(@review_tour) %>? We would be thrilled if you give a review!
        </h5>
      <% end %>
    </div>
  </div>
</div>

<!-- list of previous tours (as list or cards, if cards render from shared) -->


