<%= render partial: 'profile_banner', locals: { name: @user.name } %>
<!-- if no avatar render photo uploader, else display user avatar -->

<% if !current_user.photo.present? %>
<%= render partial: 'photo_uploader' %>
<% end %>

<!-- <h3>Welcome <%= @user.name %>!</h3>
<p>Username: <%= @user.email %></p> -->

<h3>Yalla! Here are your upcoming tours:</h3>
<!-- (as list or cards, if cards render from shared)
 -->

 <h3>Psst! Did you enjoy (put in pe) @user.tours.last.title? We would be thrilled if you give a review!</h3>

<!-- list of previous tours (as list or cards, if cards render from shared)
-->

<%= link_to "Account settings", edit_user_registration_path, class: "btn btn-primary" %>
