<div class="container show-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h2><%= @tour.title.upcase %></h2>
        <p>Details :: <%= @tour.description %></p>
        <p>Category :: <%= @tour.category.capitalize %><p>
        <p>Capacity :: <%= @tour.capacity %><p>
        <p>Location :: <%= @tour.location.capitalize %></p>
        <p>Tour starts at:: <%= @tour.start_time %></p>
        <p>Tour ends at:: <%= @tour.end_time %></p>
        <p>Price :: €<%= @tour.price_euro %> </p>
        <p>Date:: <%= @tour.date %></p>
        <%= link_to "Book", confirm_path, class: "btn btn-success btn-lg"   %>

        <% if current_user.booked_tour?(@tour) %>
          <%= link_to "Cancel booking", cancel_book_path(@tour), class: "btn btn-danger btn-lg", method: :delete %>
        <% else %>
          <%= link_to "Book", confirm_path, class: "btn btn-success btn-lg" %>
        <% end %>

        <ul>
          <% @tour.reviews.each do |r| %>
            <li>
              [<%= r.created_at.strftime("%b %d, %Y") %>]<%= r.user.name %>: <%= r.comment %>
              <%= render 'shared/stars', stars: r.rating %>
            </li>
          <% end %>
        </ul>
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
        ></div>
    </div>
  </div>
</div>


