<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yalla</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <!-- here was the footer. Needs some adjustment to stick to bottom -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- gmap stuff yes i know i have a key in the code -->
    <!-- it is a public key so everybody sees it anyways -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC_jC8NQUbr6rfikUiy5lC9L0mtRe5irHo" %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
